<!DOCTYPE html>
<html>
	<head>
		<title>France - Faire du Business en Australie</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="description" content="French and interested in moving to Australia? Here's some help on getting to Australian and setting up a successful business">
	</head>

	<body>
		<%= render 'layouts/navbar' %>

		<%= render 'layouts/header' %>

		<div class="backed">
			<div class="container">
				<%= yield %>
			</div>
		</div>

		<%= render 'layouts/footer' %>
	</body>
</html>